:root{
    --base-color:rgb(39, 39, 39);
    --highlight-color:rgb(255, 174, 0);
    --footer-color: rgb(48, 48, 48);
    --locbox-color:rgb(48, 48, 48);
    --text-color:aliceblue;
    --loctext-color: rgb(234, 233, 230);
    --footertext-color:aliceblue;
}


body{
   background-color: var(--base-color);
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: "Lexend";
    

}

.layout {
    display: flex;
    height: 100vh;
}

.content {
    flex-grow: 1;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.navbar{
    
    background-color: rgb(53, 53, 53);
    height: 100%;
    display:flex;
    width: 10%;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    

}
.navbar ul{
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 40%;
    
    margin:0;
    padding: 0;
}
.navbar li{
   list-style-type: none;
   margin: 30px;
   width: 80%;
   font-size: 30px;
   display: flex;
   justify-content: center;
   transition: background-color 0.3s ease; 
   
   border-radius: 10px;
   
}
.navbar #active{
    background-color: rgb(73, 73, 73);
}
a{
    text-decoration:none;
    color:var(--text-color);
    
}
.navbar li #active {
    color:rgb(0, 153, 255);
    

}

.navbar li:hover{
    background-color: rgb(73, 73, 73);
    
}
#settings{
    display: flex;
    justify-content: center;
    font-size: 30px;
    width: 80%;
    border-radius: 10px;
    background-color: inherit;
    color:aliceblue;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
        
}
#settings:hover{
  background-color: rgb(73, 73, 73);
}

.upper{
    display:flex;
    border-color: rgba(240, 248, 255, 0.164);
    justify-content: start;
    margin: 0;
    padding: 20px;
    border-style: solid;
    border-width: 1px;
}
.upper button{
    border:none;
    background-color: rgb(0, 153, 255);
    height: 40px;
    width: 100px;
    border-radius: 30px;
    cursor:pointer;
    font-family: "Lexend";
    transition: background-color 0.3s  ease ;
    margin-left: 20px;
    padding: 0;
}

.upper button:hover{
    background-color: rgb(58, 176, 255);
    
}



.modal-container{
     position:fixed;
     top:0;
     left:0;
     height: 100vh;
     width: 100vw;
     background-color: rgba(0,0,0,0.3);
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     opacity: 0;
     pointer-events: none;
     transition: opacity 0.3s ease;
     
    
   
}
.modal-container.show{
    pointer-events: auto;
    opacity: 1;
    
}

.modal{
    background-color: rgb(73, 73, 73);
    width: 600px;
    height: 400px;
    display: flex;               
    flex-direction: column;    
    gap: 10px;              
    padding: 20px;              
    border-radius: 10px;    
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.modal h1{
    color:aliceblue;
    margin: 0;
}

.modal input{
    border-radius: 5px;
    height: 40px;
    background-color: inherit;
    border-style: solid;
    border-color: var(--base-color);
    border-width: 1px;
    color:aliceblue;
}
.modal textarea{
    border-radius: 5px;
    height: 200px;
    background-color: inherit;
    border-style: solid;
    border-color: var(--base-color);
    border-width: 1px;
    color:aliceblue;
    resize: none;
}

::placeholder{
    color:rgb(116, 116, 116);
}
.modal button{
    
    border-radius: 5px;
    height: 40px;
    width: 80px;
    background-color: inherit;
    border-style: solid;
    border-color: var(--base-color);
    border-width: 1px;
    color:var(--base-color);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.3s ease;
}

.modal button:hover{
    transform: scale(1.1)
}

.modal-buttons{
    display: flex;
    justify-content: end;
    align-items: end;
    gap:10px;
    
}

.select-container{
    display: flex;
    flex-direction: column;

}

.select-box{
    border-radius: 10px;
    width: 110px;
    background-color: inherit;
    color:rgb(116, 116, 116);
    border-color:var(--base-color);
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.select-container span{
    color:aliceblue;
}
.hidden{
    display: none !important;
}

.task-box{
    background-color: var(--highlight-color);
    width: 300px;
    height: 300px;
    margin: 30px;
    padding: 0;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    

}

.template-container{
    display: flex;
    flex-direction: row;
    height: 100%;
}


.checkmark{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.377);
  width: 300px;
  height: 300px;
  margin: 0;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  border:none;
  transition: opacity 0.3s ease;



  
}

.checkmark:hover{
    opacity: 1;
}

.template-text{

  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.task-name-temp,
.task-temp-des,
.task-temp-time {
  margin: 10px 0; 
  max-width: 90%;
  text-align: center;
  word-wrap: break-word;
}